<div style="margin: 0 1.5em;">
    <table class="mt-table mt-table-striped">
        <!-- <table class="table table-striped"> -->
        <thead>
            <tr>
                <th scope="col" *ngFor="let head of tableView?.headers" sortable={{head}} (sort)="onSort($event)">
                    {{ head }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let body of tableView?.dataSet">
                <td *ngFor="let item of body.items">
                    <!-- TEXT -->
                    <ng-container *ngIf="item.text !== null">
                        {{ item.text }}
                    </ng-container>
                    <ng-container *ngIf="item.text === null">
                        -
                    </ng-container>
    
                    <!-- BADGE AND TOOLTIP -->
                    <ng-container *ngIf="item.badge != null">
                        <span *ngIf="item.badge.text != null; else blank" class="mt-badge"
                            [ngStyle]="{'background-color': item.badge.color,'color': item.badge.color ? '#FFFFFF' : '#433E3E' }"
                            [ngbTooltip]="item.badge.tooltip != null ? ttContent : null" placement="right"
                            tooltipClass="mt-tooltip">
                            {{ item.badge.text }}
                        </span>
                        <ng-template #blank>-</ng-template>
                        <ng-template #ttContent>
                            <ng-container *ngIf="item.badge.tooltip != null">
                                <div [innerHTML]="item.badge.tooltip"></div>
                            </ng-container>
                        </ng-template>
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </table>
    <div id="mt-pagination"class="d-flex justify-content-between p-2">
        <div style="color: #433E3E; font-size: 12px;">
            Mostrando
            <select class="custom-select" 
                    style="width: auto; margin: 0 15px; color: #433E3E; font-size: 12px; height: 22px; padding: 0px 27px;" 
                    [(ngModel)]="pageSize">
                <option [ngValue]="10">10</option>
                <option [ngValue]="20">20</option>
                <option [ngValue]="40">40</option>
            </select>
            de un total de {{this.collectionSize}}
        </div>
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
        </ngb-pagination>
    </div>
</div>