<div class="container">
    <div class="row">
      <div class="col" >
          <button (click)="getData()" class="btn btn-primary mb-3" type="button" >
              <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Buscar
          </button>
      </div>
    </div>
    <div class="row">
      <div class=col>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">N°</th>
              <th scope="col" *ngFor="let letter of abecedario">{{letter}}</th>
              <th scope="col">Suma</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let list of letterList; let i = index">
                  <td>{{i + 1}}</td>
                  <td *ngFor="let letter of list">
                    {{letter.quantity}}
                  </td>
                  <td>
                    {{ sum(list[0].numbers) }}
                  </td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
