<div class="container">
    <ul>
        <li *ngFor="let item of personsByZoneId">zoneId: {{item.zoneId}} ({{item.persons}} personas)</li>
    </ul>

    <div class="row">
        <div>
            <span>zoneId origen: </span><input type="number" [(ngModel)]="from">
            <span>zoneId destino: </span><input type="number" [(ngModel)]="to">
            <button (click)="changeZone()">Cambiar de zona</button>
        </div>
    </div>
</div>