<div class="container">
  <div class="row">
    <div class="col" >
        <button (click)="getData()" class="btn btn-primary mb-3" type="button" >
            <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Buscar
        </button>
    </div>
  </div>
  <div class="row" *ngIf="processedNumbers?.length">
    <div class=col>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">N°</th>
            <th scope="col">Number</th>
            <th scope="col">Quantity</th>
            <th scope="col">First Position</th>
            <th scope="col">Last Position</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let number of processedNumbers; let i = index" [style.backgroundColor]="getColor(number.quantity)">
            <td>{{i + 1}}</td>
            <td>{{number.number}}</td>
            <td>{{number.quantity}}</td>
            <td>{{number.firstPosition}}</td>
            <td>{{number.lastPosition}}</td>
          </tr>
        </tbody>
      </table>
      <div class="form-group">
          <label for="txtNum">Números Ordenados:</label>
          <input type="text" class="form-control" [(ngModel)]="orderedNumbers" id="txtNum">
      </div>
    </div>
  </div>
</div>
