<div style="margin: 15px 25px;">
  
  <table class="mt-table mt-table-striped">
    <thead>
    <tr>
      <th scope="col">TURNO</th>
      <th scope="col">GRUPO</th>
      <th scope="col">1ER TREN</th>
      <th scope="col">N° TRENES</th>
      <th scope="col">CIERRE CICLO</th>
      <th scope="col">DELTA MINUTOS</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let train of trains">
        <td>{{ train.turn }}</td>
        <td>{{ train.group }}</td>
        <td>
          <span *ngIf="train.firstTrain; else blank" class="mt-badge" [ngbTooltip]="ttContent" placement="right" tooltipClass="mt-tooltip">
            {{ train.firstTrain }}
          </span> 
          <ng-template #ttContent>
            <p style="font-weight: bold;">1ER TREN</p>
            <p>LOCO 137</p>
            <p>Hr estimada: <span style="font-weight: bold;">{{train.firstTrain}}</span></p>
            <p>Hr entrada: <span style="color:#F05050; font-weight: bold;">{{train.firstTrain}}</span></p>
          </ng-template>
          <ng-template #blank>-</ng-template>   
        </td>
        <td>{{ train.numTrains }}</td>
        <td>{{ train.cycleClosure }}</td>
        <td>{{ train.minuteDelta }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div style="margin: 15px 25px;">
  <table mat-table [dataSource]="dataSource" class="mt-table-striped">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
    
    <!-- shiftName Column -->
    <ng-container matColumnDef="shiftName">
      <th mat-header-cell *matHeaderCellDef>TURNO</th>
      <td mat-cell *matCellDef="let element"> {{element.shiftName}} </td>
    </ng-container>
  
    <!-- groupName Column -->
    <ng-container matColumnDef="groupName">
      <th mat-header-cell *matHeaderCellDef>GRUPO</th>
      <td mat-cell *matCellDef="let element"> {{element.groupName}} </td>
    </ng-container>
  
    <!-- firstTrainDatetime Column -->
    <ng-container matColumnDef="firstTrainDatetime">
      <th mat-header-cell *matHeaderCellDef>1ER TREN</th>
      <td mat-cell *matCellDef="let element">
         <span class="mt-badge" [ngClass]="{'mt-badge-danger': !element.firstTrainRule, 'mt-badge-success': element.firstTrainRule }"  
                                [ngbTooltip]="ttContent" placement="right" tooltipClass="mt-tooltip">
           {{ getTime(element.firstTrainDatetime) }}
          </span>
          <ng-template #ttContent>
            <p style="font-weight: bold;">1ER TREN</p>
            <p>LOCO 137</p>
            <p>Hr estimada: <span style="font-weight: bold;">{{ getTime(element.firstTrainDatetime) }}</span></p>
            <p>Hr entrada: <span style="color:#F05050; font-weight: bold;">{{ getTime(element.firstTrainDatetime) }}</span></p>
          </ng-template>
      </td>
    </ng-container>
  
    <!-- trainsTandemQty Column -->
    <ng-container matColumnDef="trainsTandemQty">
      <th mat-header-cell *matHeaderCellDef>N° TRENES</th>
      <td mat-cell *matCellDef="let element"> 
        <span style="min-width: 40px;"
              class="mt-badge"
              [ngClass]="{'mt-badge-danger': !element.trainsTandemRule, 'mt-badge-success': element.trainsTandemRule }"
              >
          {{element.trainsTandemQty}} 
        </span>
      </td>
    </ng-container>
    
    <!-- firstCicleDatetime Column -->
    <ng-container matColumnDef="firstCicleDatetime">
      <th mat-header-cell *matHeaderCellDef> CIERRE CICLO </th>
      <td mat-cell *matCellDef="let element"> 
        <span>{{ getTime(element.firstCicleDatetime) }}</span>
      </td>
    </ng-container>
  
    <!-- gapMinutes Column -->
    <ng-container matColumnDef="gapMinutes">
      <th mat-header-cell *matHeaderCellDef> DELTA MINUTOS </th>
      <td mat-cell *matCellDef="let element">
        <span style="min-width: 40px;"
              class="mt-badge"
              [ngClass]="{'mt-badge-danger': !element.gapMinutesRule, 'mt-badge-success': element.gapMinutesRule }">
          {{ element.gapMinutes }} 
        </span>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <!-- <mat-paginator [pageSize]="2" [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator> -->
</div>

