table.mat-table {
    width: 100%;
    color: #433E3E;
    font-size: 12px;
    text-transform: uppercase;
}

.mat-table tr.mat-header-row {
    height: 0;
}

.mat-table .mat-header-row th {
    padding: 15px 0;
    vertical-align: top;
    text-align: center;  
    font-weight: bold;
    color: #433E3E;
    font-size: 12px;
}

.mat-table th.mat-header-cell {
    border: none;
}

.mat-table tr.mat-row {
    border: 1px solid #E4E4E4;
}

.mat-table td.mat-cell {
    padding: 12.5px;
    vertical-align: middle;
    text-align: center;  
    color: #433E3E;
    font-size: 12px;
    /* border-top: 1px solid #E4E4E4; */
}

.mat-table td.mat-cell  {
    border: none;
}

.mt-tooltip p {
    padding: 0;
    margin: 0;
}

.mt-badge {
    cursor: pointer;
}

.mt-badge-danger {
    background-color: #F05050;
}

.mt-badge-success {
    background-color: #22D983;
}