/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.mt-badge {
    display: inline-block;
    padding: 9px .4em;
    font-size: 12px;
    color: #FFFFFF;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.mt-table {
    width: 100%;
    color: #433E3E;
    font-size: 12px;
}

.mt-table th {
    padding: 15px 0;
    vertical-align: top;
    text-align: center;  
}

.mt-table tbody tr {
    border: 1px solid #E4E4E4;
}

.mt-table td {
    padding: 12.5px;
    vertical-align: middle;
    text-align: center;  
    /* border-top: 1px solid #E4E4E4; */
}

.mt-table-striped tbody tr:nth-of-type(odd) {
    background-color: #F8F8F8;
}

.mt-table-striped tbody tr:nth-of-type(even) {
    background-color: #E4E4E4;
}

.mt-tooltip .tooltip-inner {
    /* background-color: #333333; */
    opacity: 0.9;
    text-align: left;
    font-size: 12px;
}



