<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <a class="navbar-brand" [routerLink]="['/vista-uno']">Prueba</a>
  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>

  <!-- Step 2: Add the ngbCollapse directive to the element below. -->
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <!-- <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/vista-uno']">Vista Uno</a>
      </li>
      <li>
        <a class="nav-link" [routerLink]="['/vista-dos']">Vista Dos</a>
      </li> -->
      <!-- <li>
        <a class="nav-link" [routerLink]="['/trenes']">Trenes</a>
      </li>
      <li>
        <a class="nav-link" [routerLink]="['/minutebyminute']">Tabla</a>
      </li>
      <li>
        <a class="nav-link" [routerLink]="['/ngbootstraptable']">NGB Table</a>
      </li> -->
      <li>
        <a class="nav-link" [routerLink]="['/personsbyzone']">Personas Por Zona</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>